@{
    ViewBag.Title = "Home Page";
}

<div class="col-md-12 fullsize">
    <div>
        <figure>
            
            <img src="~/Content/Images/gear-s3_highlights_kv_cl_l.png"  class="watch" id="watch1"/>
        </figure>
        <figure>
            <img src="~/Content/Images/gear-s3_highlights_kv_ft_l.jpg" class="watch" id="watch2"/>
            
        </figure>
        <div class="bottom-align-text" style="z-index:10;" id="mainpictureText">
            <h1>
                <img src="~/Content/Images/gear-s3_highlights_kv_logo.jpg" />
                

            </h1>
            <p>Timeless outside. Revolutionary inside.</p>
        </div>
    </div>
</div>
<div class="navbar menu">
    <div class="col-md-12">
        <h2 style="display:none;">Gear S3</h2>
        <ul>
            <li>
                <a href="#">Highlights</> </a>
            </li>
            <li>
                <a href="#">Design</> </a>
            </li>
            <li>
                <a href="#">Experience</> </a>
            </li>
            <li>
                <a href="#">Performance</> </a>
            </li>
        </ul>
    </div>

</div>
<div class="col-md-12 fullsize" id="sec2p1">
    <div class="padding-top100">
        <div class="text-center ContentSec">
            <strong>
                The Gear S3 has the aesthetics of a truly premium watch with advanced features built right into the watch design.
                That's why it's so easy and effortless to use the Gear S3. It's also built for you to go days without needing your phone or to recharge.
                You get to feel free with the Gear S3.
            </strong>
            <p>*Bluetooth model requires Wi-Fi connection and a voice call app for phone-free calls.</p>
        </div>
        <figure id="BlackWatch" class="scrolling">

            <img src="~/Content/Images/gear-s3_highlights_overview.jpg" class="img-responsive scrolling"; id="" />
        </figure>
        
        @*<div class="parallax-window" data-parallax="scroll" data-image-src="/Content/Images/gear-s3_highlights_overview.jpg" style="width:500px; margin:auto;"></div>*@
    </div>


</div>

<div class="fullsize">
    <div class="text-center">
        <h1>Design</h1>
        <strong class="ContentSec">The Gear S3 looks and feels natural on your wrist and when you use it. Like a traditional watch. Only much more capable.</strong>
    <a href="~/Views/Home/Design.cshtml" class="circlelink">s</a>
    </div>
</div>

    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="http://go.  microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>


<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="http://go.  microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="http://go.  microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>

<div class="col-md-12" id="controls">
    
</div>

@section scripts{
    <script>
        $('#BlackParralax').parallax({
            imageSrc: '/Content/Images/gear-s3_highlights_overview.jpg',
            speed: 0.05
        });

    </script>
    
    }